.card-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 90vh; /*Set height to full viewport height*/
  }

  .app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Set the container to at least full height of the viewport */
  }
  
  .content {
    flex-grow: 1; /* Allow the content area to grow to fill remaining space */
    
  }
  
  
  