<div class="bg-white bg-centre">
  <app-header></app-header>

  <div class="container mx-auto p-6 grid grid-cols-1 lg:grid-cols-2 gap-6">
    <div class="bg-white p-6 rounded-lg shadow-lg flex flex-col h-full">
      <div
        class="bg-cover bg-centre bg-[url('https://res.cloudinary.com/ds3bmnf1p/image/upload/v1738731116/download__1_-removebg-preview_obgch6.png')] p-6 flex flex-col items-center mb-6"
      >
        <h2 class="text-xl font-bold mb-4">Appointment Summary</h2>
        <p class="text-gray-700 mb-2">
          Date: {{ slotDetails.time | date : "dd/MM/YY" }}
        </p>
        <p class="text-gray-700 mb-2">
          Time: {{ slotDetails.time | date : "shortTime" }}
        </p>
        <p class="text-gray-700 mb-2">
          Consultant:
          {{
            (slotDetails.expertId.firstName | capitaliseFirst) +
              " " +
              (slotDetails.expertId.lastName | capitaliseFirst)
          }}
        </p>
        <p class="text-gray-700 mb-2">
          Specialization: {{ slotDetails.expertId.specialisation }}
        </p>
        <button type="button" class="bg-gray-900 text-white px-4 py-2 rounded">
          Consultation Fee: Rs.{{ slotDetails.expertId.consultation_fee }}
        </button>
      </div>
      <div>
        <h3 class="text-xl font-bold mb-4">Privacy and Booking Information</h3>
        <p class="text-gray-700 mb-4">
          Your personal information is securely stored and handled with the
          utmost care. We use advanced encryption methods to ensure your
          privacy.
        </p>
        <p class="text-gray-700 mb-4">
          Our platform provides a seamless experience for booking appointments
          with top-notch experts professionals. Enjoy an easy and fast booking
          process with secure and confidential data handling.
        </p>
        <ul class="list-disc list-inside text-gray-700 pt-6">
          <li>Experienced and verified Experts.</li>
          <li>Easy and fast appointment booking.</li>
          <li>Secure and confidential data handling.</li>
          <li>24/7 customer support.</li>
          <li>Comprehensive Farming services.</li>
        </ul>
      </div>
    </div>

    <div class="bg-white p-6 rounded-lg shadow-lg">
      <form
        [formGroup]="farmer_details_form"
        #myform="ngForm"
        (submit)="farmer_details_form_submit()"
      >
        <div class="mb-4">
          <label for="name" class="block text-gray-700">Name</label>
          <input
            formControlName="name"
            type="text"
            id="name"
            class="w-full p-2 border border-gray-300 rounded mt-1"
            required
            [ngClass]="{
              'border-red-500':
                farmer_details_form.get('name')?.touched &&
                farmer_details_form.get('name')?.invalid
            }"
          />
          <div
            *ngIf="
              farmer_details_form.get('name')?.touched &&
              farmer_details_form.get('name')?.invalid
            "
            class="text-red-500 text-xs mt-1"
          >
            <div *ngIf="farmer_details_form.get('name')?.hasError('required')">
              *required
            </div>
            <div *ngIf="farmer_details_form.get('name')?.hasError('minlength')">
              *must be at least 2 characters
            </div>
            <div *ngIf="farmer_details_form.get('name')?.hasError('pattern')">
              *enter a valid name
            </div>
          </div>
        </div>
        <div class="mb-4">
          <label for="email" class="block text-gray-700">Email</label>
          <input
            formControlName="email"
            type="email"
            id="email"
            class="w-full p-2 border border-gray-300 rounded mt-1"
            required
            [ngClass]="{
              'border-red-500':
                farmer_details_form.get('email')?.touched &&
                farmer_details_form.get('email')?.invalid
            }"
          />
          <div
            *ngIf="
              farmer_details_form.get('email')?.touched &&
              farmer_details_form.get('email')?.invalid
            "
            class="text-red-500 text-xs mt-1"
          >
            <div *ngIf="farmer_details_form.get('email')?.hasError('required')">
              *required
            </div>
            <div *ngIf="farmer_details_form.get('email')?.hasError('email')">
              *enter a valid email
            </div>
          </div>
        </div>
        <div class="mb-4">
          <label for="age" class="block text-gray-700">Age</label>
          <input
            formControlName="age"
            type="number"
            id="age"
            class="w-full p-2 border border-gray-300 rounded mt-1"
            required
            [ngClass]="{
              'border-red-500':
                farmer_details_form.get('age')?.touched &&
                farmer_details_form.get('age')?.invalid
            }"
          />
          <div
            *ngIf="
              farmer_details_form.get('age')?.touched &&
              farmer_details_form.get('age')?.invalid
            "
            class="text-red-500 text-xs mt-1"
          >
            <div *ngIf="farmer_details_form.get('age')?.hasError('required')">
              *required
            </div>
            <div *ngIf="farmer_details_form.get('age')?.hasError('pattern')">
              *invalid age
            </div>
          </div>
        </div>
        <div class="mb-4">
          <span class="block text-gray-700 mb-1">Gender</span>
          <div class="flex items-center">
            <label for="" class="mr-2">Female</label>
            <input
              id=""
              type="radio"
              formControlName="gender"
              value="female"
              class="mr-4"
            />
            <label for="" class="mr-2">Male</label>
            <input type="radio" formControlName="gender" value="male" />
          </div>
        </div>
        <div class="mb-4">
          <label for="address" class="block text-gray-700">Address</label>
          <textarea
            formControlName="address"
            id="address"
            class="w-full p-2 border border-gray-300 rounded mt-1"
            required
            [ngClass]="{
              'border-red-500':
                farmer_details_form.get('address')?.touched &&
                farmer_details_form.get('address')?.invalid
            }"
          ></textarea>
          <div
            *ngIf="
              farmer_details_form.get('address')?.touched &&
              farmer_details_form.get('address')?.invalid
            "
            class="text-red-500 text-xs mt-1"
          >
            <div
              *ngIf="farmer_details_form.get('address')?.hasError('required')"
            >
              *required
            </div>
          </div>
        </div>
        <div class="mb-4">
          <label for="reason" class="block text-gray-700"
            >Reason for Visit</label
          >
          <textarea
            formControlName="reason_for_visit"
            id="reason"
            class="w-full p-2 border border-gray-300 rounded mt-1"
            required
            [ngClass]="{
              'border-red-500':
                farmer_details_form.get('reason_for_visit')?.touched &&
                farmer_details_form.get('reason_for_visit')?.invalid
            }"
          ></textarea>
          <div
            *ngIf="
              farmer_details_form.get('reason_for_visit')?.touched &&
              farmer_details_form.get('reason_for_visit')?.invalid
            "
            class="text-red-500 text-xs mt-1"
          >
            <div
              *ngIf="
                farmer_details_form
                  .get('reason_for_visit')
                  ?.hasError('required')
              "
            >
              *required
            </div>
          </div>
        </div>
        <div class="flex justify-between">
          <button
            type="button"
            onclick="window.history.back()"
            class="bg-gray-300 hover:bg-gray-400 text-white px-4 py-2 rounded"
          >
            Back
          </button>
          <button
            type="submit"
            class="bg-gray-700 hover:bg-gray-800 text-white px-4 py-2 rounded"
          >
            Confirm
          </button>
        </div>
      </form>

      <!-- Payment Form -->
      <form
        [formGroup]="payment_form"
        (ngSubmit)="payment_form_submit()"
        class="mt-6"
      >
        <h3 class="text-xl font-bold mb-4">Payment Options</h3>
        <div class="mb-4">
          <div class="flex items-center mb-2">
            <input
              type="radio"
              id="onlinePayment"
              formControlName="payment_method"
              value="online_payment"
              class="mr-2"
            />
            <label for="onlinePayment" class="text-gray-700"
              >Online Payment</label
            >
          </div>
          <div class="flex items-center">
            <input
              type="radio"
              id="walletPayment"
              formControlName="payment_method"
              value="wallet_payment"
              class="mr-2"
            />
            <label for="walletPayment" class="text-gray-700"
              >Wallet Payment</label
            >
          </div>
        </div>
        <button
          type="submit"
          class="px-4 py-2 rounded"
          [disabled]="isDisable"
          [ngClass]="{
            'bg-gray-900 text-white': !isDisable,
            'bg-gray-500 text-gray-200': isDisable
          }"
        >
          Proceed to Pay
        </button>
      </form>
    </div>
  </div>
</div>
