<div class="bg-gray-100">
  <div class="container mx-auto p-5">
    <!-- Title -->
    <div class="flex justify-between items-center">
      <h1 class="text-3xl font-bold mb-4">
        Welcome KYC Verification of Expert.
        {{
          (expert_kyc_details.expertId.firstName | capitaliseFirst) +
            " " +
            (expert_kyc_details.expertId.lastName | capitaliseFirst)
        }}
      </h1>
      <button
        (click)="previous_page()"
        class="my-4 bg-yellow-500 text-gray-800 px-4 py-2 rounded-lg hover:bg-yellow-400 flex items-center"
      >
        Previous page
      </button>
    </div>
    <!-- Download Files Section -->
    <div class="bg-white p-5 rounded-lg shadow-md mb-6">
      <h2 class="text-2xl font-semibold mb-4">Download Files</h2>
      <div class="mb-4">
        <p>
          Identity proof that the user selected:
          <strong>{{ expert_kyc_details.identity_proof_name }}</strong>
        </p>
        <button
          (click)="file_download('identity_proof')"
          class="mt-4 bg-blue-500 text-gray-800 px-4 py-2 rounded-lg hover:bg-blue-600 flex items-center"
        >
          View Identity Proof
        </button>
      </div>
      <div class="mb-4">
        <button
          (click)="file_download('expert_licence')"
          class="bg-blue-500 text-gray-800 px-4 py-2 rounded-lg hover:bg-blue-600 flex items-center"
        >
          View Experts's Licence
        </button>
      </div>
      <div class="mb-4">
        <p>Download Qualification Certificates:</p>
        <div
          class="mt-4 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4"
          *ngFor="
            let cerificate of expert_kyc_details.expertId
              .qualification_certificate;
            let i = index
          "
        >
          <button
            (click)="file_download('qualification_certificate', i)"
            class="bg-blue-500 text-gray-800 px-4 py-2 rounded-lg hover:bg-blue-600 flex items-center"
          >
            View Certificate {{ i + 1 }}
          </button>
        </div>
      </div>
      <div class="mb-4">
        <p>Download Experience Certificates:</p>
        <div
          class="mt-4 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4"
          *ngFor="
            let cerificate of expert_kyc_details.expertId
              .experience_certificate;
            let i = index
          "
        >
          <button
            (click)="file_download('experience_certificate', i)"
            class="bg-blue-500 text-gray-800 px-4 py-2 rounded-lg hover:bg-blue-600 flex items-center"
          >
            View Experience {{ i + 1 }}
          </button>
        </div>
      </div>
      <div class="mb-4 mt-4">
        <p>
          Specialisation:
          <strong>{{ expert_kyc_details.specialisation_name }}</strong>
        </p>
        <p>
          Current Working address:
          <strong>{{ expert_kyc_details.address }}</strong>
        </p>
      </div>
    </div>

    <!-- Verification Section -->
    <div class="bg-white p-5 rounded-lg shadow-md mb-6">
      <h2 class="text-2xl font-semibold mb-4">Verification</h2>
      <form
        [formGroup]="kyc_verification_form"
        #myform="ngForm"
        (ngSubmit)="submit_kyc_verification_form()"
      >
        <div class="mb-4">
          <p class="font-medium">
            Id proof type selected and id proof submitted are matching:
          </p>
          <div class="flex items-center">
            <label for="" class="mr-2">Yes</label>
            <input
              type="radio"
              formControlName="id_proof_type"
              value="true"
              class="mr-4"
            />
            <label for="" class="mr-2">No</label>
            <input type="radio" formControlName="id_proof_type" value="false" />
          </div>
        </div>
        <div class="mb-4">
          <p class="font-medium">Verify Identity Proof:</p>
          <div class="flex items-center">
            <label for="" class="mr-2">Yes</label>
            <input
              type="radio"
              formControlName="id_proof"
              value="true"
              class="mr-4"
            />
            <label for="" class="mr-2">No</label>
            <input type="radio" formControlName="id_proof" value="false" />
          </div>
        </div>
        <div class="mb-4">
          <p class="font-medium">Verify Experts's Licence:</p>
          <div class="flex items-center">
            <label for="" class="mr-2">Yes</label>
            <input
              type="radio"
              formControlName="expert_licence"
              value="true"
              class="mr-4"
            />
            <label for="" class="mr-2">No</label>
            <input
              type="radio"
              formControlName="expert_licence"
              value="false"
            />
          </div>
        </div>
        <div class="mb-4">
          <p class="font-medium">Verify Qualification Certificates:</p>
          <div class="flex items-center">
            <label for="" class="mr-2">Yes</label>
            <input
              type="radio"
              formControlName="qualification_certificate"
              value="true"
              class="mr-4"
            />
            <label for="" class="mr-2">No</label>
            <input
              type="radio"
              formControlName="qualification_certificate"
              value="false"
            />
          </div>
        </div>
        <div class="mb-4">
          <p class="font-medium">Verify Experience Certificates:</p>
          <div class="flex items-center">
            <label for="" class="mr-2">Yes</label>
            <input
              type="radio"
              formControlName="experience_certificate"
              value="true"
              class="mr-4"
            />
            <label for="" class="mr-2">No</label>
            <input
              type="radio"
              formControlName="experience_certificate"
              value="false"
            />
          </div>
        </div>
        <div class="mb-4">
          <p class="font-medium">Verify Specialisation:</p>
          <div class="flex items-center">
            <label for="" class="mr-2">Yes</label>
            <input
              type="radio"
              formControlName="specialisation"
              value="true"
              class="mr-4"
            />
            <label for="" class="mr-2">No</label>
            <input
              type="radio"
              formControlName="specialisation"
              value="false"
            />
          </div>
        </div>
        <div class="mb-4">
          <p class="font-medium">Verification by Current Working address:</p>
          <div class="flex items-center">
            <label for="" class="mr-2">Yes</label>
            <input
              type="radio"
              formControlName="current_working_address"
              value="true"
              class="mr-4"
            />
            <label for="" class="mr-2">No</label>
            <input
              type="radio"
              formControlName="current_working_address"
              value="false"
            />
          </div>
        </div>
        <button
          type="submit"
          class="mt-4 px-4 py-2 bg-green-600 text-white rounded hover:bg-green-700"
        >
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
