.login-button {
    display: flex;
    justify-content: center; 
    align-items: center; 
  
  }
  
  .login-button button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 10px 16px;
    border: 2px solid #c1ceb5; 
    background-color: white;
    color: #abbe99; 
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px; /* Rounded corners */
    outline: none;
    transition: all 0.3s ease-in-out;
  }
  
  .login-button button:hover {
    background-color: #abbe99;
    color: white;
  }
  
  .google-icon {
    width: 20px;
    height: 20px;
  }
  