<app-header></app-header>

<div
  class="max-w-xl mx-auto mt-16 flex w-full flex-col border rounded-lg bg-white p-8"
>
  <h2 class="title-font mb-1 text-lg font-medium text-gray-900">
    Prescription
  </h2>
  <p class="mb-5 leading-relaxed text-gray-600">
    If you had any concerns please add that. with us!
  </p>
  <form [formGroup]="prescriptionForm" (ngSubmit)="onSubmit()">
    <div class="mb-4">
      <label for="email" class="text-sm leading-7 text-gray-600"
        >Issue of the crop:</label
      >
      <input
        formControlName="issue"
        type="email"
        id="email"
        name="email"
        class="w-full rounded border border-gray-300 bg-white py-1 px-3 text-base leading-8 text-gray-700 outline-none transition-colors duration-200 ease-in-out focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200"
        [ngClass]="{
          'border-red-500':
            prescriptionForm.get('issue')?.touched &&
            prescriptionForm.get('issue')?.invalid
        }"
      />
      <div
        *ngIf="
          prescriptionForm.get('issue')?.touched &&
          prescriptionForm.get('issue')?.invalid
        "
        class="text-red-500 text-xs mt-1"
      >
        <div *ngIf="prescriptionForm.get('issue')?.hasError('required')">
          *required
        </div>
      </div>
    </div>
    <div class="mb-4">
      <label for="message" class="text-sm leading-7 text-gray-600"
        >Prescription</label
      >
      <textarea
        id="message"
        formControlName="prescription"
        name="message"
        class="h-32 w-full resize-none rounded border border-gray-300 bg-white py-1 px-3 text-base leading-6 text-gray-700 outline-none transition-colors duration-200 ease-in-out focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200"
        [ngClass]="{
          'border-red-500':
            prescriptionForm.get('prescription')?.touched &&
            prescriptionForm.get('prescription')?.invalid
        }"
      ></textarea>
      <div
        *ngIf="
          prescriptionForm.get('prescription')?.touched &&
          prescriptionForm.get('prescription')?.invalid
        "
        class="text-red-500 text-xs mt-1"
      >
        <div *ngIf="prescriptionForm.get('prescription')?.hasError('required')">
          *required
        </div>
      </div>
    </div>
    <button
      type="submit"
      class="rounded border-0 bg-indigo-500 py-2 px-6 text-lg text-white hover:bg-indigo-600 focus:outline-none"
    >
      Send
    </button>
  </form>
  <p class="mt-3 text-xs text-gray-500">
    Remember to connect if they have any concerns.
  </p>
</div>

<app-footer></app-footer>
