<div class="bg-gray-100">
  <div class="bg-gray-100 h-screen">
    <app-header></app-header>
    <div class="container mx-auto h-full flex">
      <!-- Sidebar for Messages -->
      <div class="w-1/3 bg-white shadow-md h-full flex flex-col">
        <div class="p-4">
          <form class="relative" [formGroup]="searchForm">
            <button class="absolute left-2 -translate-y-1/2 top-1/2 p-1">
              <svg
                width="17"
                height="16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                role="img"
                aria-labelledby="search"
                class="w-5 h-5 text-gray-700"
              >
                
              </svg>
            </button>
            <input
            formControlName="searchData"
              class="w-full rounded-full px-8 py-3 border-2 border-transparent focus:outline-none focus:border-gray-300 placeholder-gray-400 transition-all duration-300 shadow-md"
              placeholder="Search your expert"
              required=""
              type="text"
            />
            <button
              type="reset"
              class="absolute right-3 -translate-y-1/2 top-1/2 p-1"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-5 h-5 text-gray-700"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M6 18L18 6M6 6l12 12"
                ></path>
              </svg>
            </button>
          </form>
        </div>

        <!-- Experts List -->
        <div class="flex-1 p-4 overflow-y-auto">
          <h2 class="text-xl font-semibold mb-4">Experts</h2>
          <div class="space-y-4">
            <div
              *ngFor="let expert of displayed_expert"
              class="flex items-center p-2 bg-gray-100 rounded-md cursor-pointer"
              (click)="accessedchat(expert._id!)"
              (keydown.enter)="accessedchat(expert._id!)"
              (keydown.space)="accessedchat(expert._id!)"
              tabindex="0"
            >
              <img
                *ngIf="expert.profile_picture; else no_profile_picture"
                [src]="expert.profile_picture"
                alt="Expert"
                class="w-12 h-12 rounded-full mr-4"
              />
              <ng-template #no_profile_picture>
                <img
                  src="https://res.cloudinary.com/ds3bmnf1p/image/upload/v1736861259/bfltcqktredbo5ih3j9s.jpg"
                  alt="Default"
                  class="w-12 h-12 rounded-full mr-4"
                />
              </ng-template>
              <div>
                <h3 class="text-lg font-semibold">
                  {{ expert.firstName | titlecase }}
                  {{ expert.lastName | titlecase }}
                </h3>
                <p class="text-sm text-gray-600">{{ expert.specialisation }}</p>
              </div>
            </div>
          </div>
        </div>

        <div class="flex-1 p-4 overflow-y-auto">
          <!-- <h2 class="text-xl font-semibold mb-4">Messages</h2> -->
          <div class="space-y-4">
            <!-- Dynamic user listing -->
            <div
              *ngFor="let chat of chats"
              class="flex items-center p-2 bg-gray-100 rounded-md cursor-pointer"
              (click)="selectExpert(chat)"
              (keydown.enter)="selectExpert(chat)"
              (keydown.space)="selectExpert(chat)"
              tabindex="0"
            >
              <img
                *ngIf="chat.expert.profile_picture; else no_profile_picture"
                [src]="chat.user.profile_picture"
                alt="User"
                class="w-12 h-12 rounded-full mr-4"
              />
              <ng-template #no_profile_picture>
                <img
                  src="https://res.cloudinary.com/ds3bmnf1p/image/upload/v1739883761/i4lf0zmuyz9k9prs8hbw_ol5pzw.jpg"
                  alt="User"
                  class="w-12 h-12 rounded-full mr-4"
                />
              </ng-template>
              <div>
                <h3 class="text-lg font-semibold">
                  {{
                    (chat.expert.firstName | capitaliseFirst) +
                      " " +
                      (chat.expert.lastName | capitaliseFirst)
                  }}
                </h3>
                <p *ngIf="chat.latestMessage" class="text-sm text-gray-600">
                  {{ chat.latestMessage.content }}
                </p>
                <span class="text-xs text-gray-400">{{
                  chat.updatedAt | date : "d/M/yy, h:mm a"
                }}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="p-4">
          <button class="w-full py-2 bg-blue-500 text-white rounded-md" (click)="goToHome()">
            Go Back
          </button>
        </div>
      </div>

      <!-- Chat Area -->
      <div class="w-2/3 bg-white shadow-md h-full flex flex-col">
        <div
          *ngIf="!selectedExpert"
          class="flex flex-col justify-center items-center h-full text-center p-10"
        >
          <img
            src="https://res.cloudinary.com/ds3bmnf1p/image/upload/v1735881033/Farming-Vector-Illustration-removebg-preview_qwzne0.png"
            alt="Welcome"
            class="w-1/2 mb-6"
          />
          <h2 class="text-2xl font-semibold mb-2">Welcome to Chat</h2>
          <p class="text-gray-500 mb-4">
            Get connected with your experts here. You can chat with your expert
            for consultation and follow-up.
          </p>
          <p class="text-gray-500">
            Select a expert from the list to start chatting.
          </p>
        </div>

        <div *ngIf="selectedExpert" class="h-full flex flex-col">
          <div class="p-4 border-b flex items-center">
            <img
              *ngIf="profile_picture; else no_profile_picture"
              [src]="profile_picture"
              alt="User"
              class="w-12 h-12 rounded-full mr-4"
            />
            <ng-template #no_profile_picture>
              <img
                src="https://res.cloudinary.com/ds3bmnf1p/image/upload/v1736861259/bfltcqktredbo5ih3j9s.jpg"
                alt="User"
                class="w-12 h-12 rounded-full mr-4"
              />
            </ng-template>
            <h2 class="text-xl font-semibold">
              Chat with {{ selectedExpert | titlecase }}
            </h2>
            
          </div>
          <div
            class="flex-1 p-4 overflow-y-auto flex flex-col-reverse"
            #chatContainer
            (scroll)="onScroll($event)"
          >
            <div
              class="space-y-4"
              *ngFor="let message of messages; let i = index; let isLast = last"
             >
              <!-- Messages -->
              <div
                [ngClass]="{
                  'justify-end pb-2 mt-2': message.senderModel === 'User',
                  'justify-start pb-2': message.senderModel !== 'User'
                }"
                class="flex"
              >
                <div
                  [ngClass]="{
                    'bg-blue-500 text-white': message.senderModel === 'User',
                    'bg-gray-200 text-black': message.senderModel !== 'User'
                  }"
                  class="p-2 rounded-lg max-w-md"
                >
                  <p>{{ message.content }}</p>
                  <span
                    [ngClass]="{
                      'text-gray-200': message.senderModel === 'User',
                      'text-gray-400': message.senderModel !== 'User'
                    }"
                    class="text-xs"
                    >{{ message.createdAt | date : "d/M/yy, h:mm a" }}</span
                  >
                </div>
              </div>
              <button
                *ngIf="isLast && showScrollUpButton"
                (click)="scrollToTop()"
                class="fixed bottom-20 right-4 p-2 bg-blue-500 text-white rounded-full"
              >
                ⬆️
              </button>
            </div>
          </div>
          <div class="p-4 border-t">
            <div class="flex items-center">
              <form [formGroup]="chatForm" (ngSubmit)="chatFormSubmit()">
                <input
                  type="text"
                  formControlName="message"
                  placeholder="Type your message here..."
                  class="flex-1 p-2 border rounded-md"
                />
                <button
                  type="submit"
                  class="ml-2 p-2 bg-blue-500 text-white rounded-md"
                >
                  Send
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
